.grid-container {
    display: flex; 
    flex-direction: column;
    width: 400px;
    height: 400px; 
    border: 2px solid blue;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    display: flex;
    align-items: stretch;
    flex: 1;
    user-select: none;
}

